.header {
  background: white;
}

.header a {
  text-decoration: none;
}

.imagen img { 
  max-width: 100%;
  height: auto;
  margin-top: 100px;
} 

.imagen2 img { 
  height: 550px;
  width: 550px;
  border-radius: 50px;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

html, body {
  overflow-x: hidden; 
  margin: 0;
  padding: 0;
}

.list-benefits{
  list-style: none;
  padding: 0;
  margin: 0;
}

.benefit-aling {
  margin-top: 15px;
}

.list-benefits li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.benefit-icon {
  width: 75px;
  height: 75px;
  margin-right: 25px;
  display: inline-block;
}

.list-benefits span {
  font-size: 18px;
  color: #333;
  max-width: auto;
}

.carousel-item {
  max-height: 650px;
  width: 100%;
}

.carousel-caption {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 10;
  text-align: center;
  padding: 15px;
}

.text-box {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

.text-title {
  font-family: "Bungee", sans-serif;
  color: white;
}

.text-subtitle {
  font-family: "IBM Plex Sans", sans-serif;
  color: white;
}

.boton {
  background-color: transparent;
  color: black;
  border: 2px solid transparent;
  border-radius: 10px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.boton:hover {
  background-color: #7F0A16;
  color: white;
  border-color: transparent;
}

.boton_section1 {
  background-color: white;
  color: black;
  border: 2px solid transparent;
  border-radius: 10px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.boton_section1:hover {
  background-color: #7F0A16;
  color: white;
  border-color: transparent;
}

.boton_registrar button {
  display: flex;
  justify-content: left;
  align-items: left;
  text-align: left;
  background-color: #2c2c2c;
  color: white;
  border: 2px solid transparent;
  border-radius: 10px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  margin-top: -25px;
}

.boton_registrar button:hover {
  background-color: #7F0A16;
  color: white;
  border-color: transparent;
}

a {
  text-decoration: none;
}

.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar {
  padding-top: 0.3rem; 
  padding-bottom: 0.3rem;   
}

.position-left {
  display: flex;
  align-items: left;
  justify-content: left;
}

.container_section2 {
  padding: 0px;
  background-position: center;
  width: 100%; 
  height: auto;
  display: flex;
}

.container_footer { 
  font-weight: bolder;
  margin: 0px;
  padding: 0px;
  color: white;
  width: 100%;
  display: flex;
  margin-top: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section2-background {
  background-color: white;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
}

.section3-background {
  background-color: white;
  background-position: center;
  width: 100%;
  height: auto;
  padding: 0;
  background-repeat: no-repeat;
}

.footer-background {
  background-color: grey;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  padding: 0;
  margin-top: auto;
  background-repeat: no-repeat;
}

@media (max-width: 768px) 
{
  
.text-box {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 10px;
  max-width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  zoom: 70%;
  margin-top: 140px;
  display: flex;
  flex-direction: column;
}

  .carousel-item {
    margin-top: 80px;
    max-height: 150px;
  }
 
}
